{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THE GOAT NEWS</title>
    <link rel="stylesheet" type="text/css" href="{% static  'users/css/styles.css' %}">
</head>

<body>
    <div class="register">
        <h1>Create an Account</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-block btn-large">Sign up</button>
            <br>
            <a href="/login" class="btn btn-primary btn-block btn-large">Log In
            </a>
            <!-- <button class="btn btn-primary btn-block btn-large">Sign up</button> -->
        </form>

    </div>

</body>

</html>